<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>AwsMockQtUI</Name>
    <Version>1.4.25</Version>
    <Title>AwsMockQtUIInstaller</Title>
    <Publisher>Jens Vogt</Publisher>
    <RequiresAdminRights>true</RequiresAdminRights>
    <StartMenuDir>AwsMockQtUI</StartMenuDir>
    <TargetDir>@ApplicationsDir@/AwsMockQtUI</TargetDir>
</Installer>