name: Qt CMake Build (Windows)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_windows:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup MSVC Environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install Python + aqtinstall
        run: |
          python -m pip install --upgrade pip
          pip install aqtinstall

      # -------------------------------
      # Install Qt (base + modules)
      # -------------------------------
      - name: Install Qt 6.10.1 + modules
        run: |
          python -m aqt install-qt windows desktop 6.10.1 win64_msvc2022_64 --outputdir Qt --modules qtcharts qtimageformats

      # -------------------------------
      # Configure & Build
      # -------------------------------
      - name: Configure and Build Application
        shell: powershell
        run: |
          $QtPrefix = Join-Path $env:GITHUB_WORKSPACE "Qt\6.10.1\msvc2022_64"
          cmake -B build -S . -G Ninja -DCMAKE_BUILD_TYPE=Release -DQt6_DIR="$QtPrefix\lib\cmake\Qt6"
          cmake --build build --config Release

      # -------------------------------
      # Archive Executable
      # -------------------------------
      - name: Archive Executable
        shell: powershell
        run: |
          Copy-Item build\awsmock-qt-ui.exe awsmock-qt-ui-windows-x64.exe

      # -------------------------------
      # Create QT installer
      # -------------------------------
      - name: Create installer
        shell: powershell
        run: |
          windeployqt awsmock-qt-ui-windows-x64.exe --dir installer/packages/de.jensvogt.awsmockqtui/data
          binarycreator -c installer/config/config.xml -p installer/packages AwsMockQtUiInstaller.exe

      # -------------------------------
      # Optional Release Publishing
      # -------------------------------
      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: awsmock-qt-ui-windows-x64.exe
          name: Release ${{ github.ref_name }}
          draft: false

      # -------------------------------
      # Upload Artifact
      # -------------------------------
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: qt-app-executable-windows
          path: awsmock-qt-ui-windows-x64.exe
          retention-days: 7
